<!DOCTYPE html>
<html>
  <head>
    <title>MyReads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      window.images = {
        fireworks1: "<%= image_url('fireworks.jpeg')%>",
        fireworks2: "<%= image_url('horizontal_fireworks.jpeg')%>",
        account_image: "<%= image_url('user_profile_image.png')%>",
        american_spy: "<%= image_url('American_Spy_By_Lauren_wilkinson.png')%>",
        book_of_strange: "<%= image_url('Book-of-Strange-New-Things.jpg.png')%>",
        city_of_girls: "<%= image_url('Elizabeth_Gilbert_by_city_of_girls.png')%>",
        maybe_you_should_talk_to_someone: "<%= image_url('Maybe_You_Should_Talk_To_Someone_by_Lori_Gottlieb.png')%>",
        quichotte: "<%= image_url('Salman_Rushdie_by_Quichotte.png')%>",
        super_pumped: "<%= image_url('Super_Pumped_by_Mike_Isaac.png')%>",
        swanns_way: "<%= image_url('Swanns_Way_by_Marcel_Proust.png')%>",
        the_names_of_the_dead: "<%= image_url('The_Names_of_the_dead_by_Kevin_wignall.png')%>",
        the_nickel_boys: "<%= image_url('The_Nickel_Boys_by_Colson_Whitehead.png')%>",
        the_starless_sea: "<%= image_url('The_starless_sea_by_erin_morgenstern.png')%>",
        the_testaments: "<%= image_url('The_Testaments_by_Atwood.png')%>",
        they_called_us_enemy: "<%= image_url('They_Called_us_enemy_by_Georege_takei.png')%>",
        upright_woman_wanted: "<%= image_url('upright_woman_wanted.jpeg')%>",
        wild_game: "<%= image_url('Wild_Game_by_Adrienne_Brodeur.png')%>",
        
      }
    </script>
      

    <% if logged_in?%>
    <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
    <%end%>

  </head>

  <body>
    <%= yield %>

  </body>
</html>
